.title {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
.red{
  color: brown;
  text-align: center;
}
.image-position {
  display: flex;
  flex-direction: column;
  justify-content: center !important;

}
.image-design {
  width: 50%;
  margin-left: 26%;
}
